.brand-header
  %a{:href => "/"}
    = image_tag 'logo/free-logo-flower.png', class: 'main-logo'
    %p.voiceable Voiceable
  .already-signed-up
    Already signed up?
    %a.btn.btn-default{:href => new_user_session_path} Login