.stamp.header-tile.col-md-3.tile
  .content
    .user-summary
      .avatar
        -# = small_avatar_of(@user)
      .name-location
        -# .username= username(@user)
        - if !@user.city.blank? || !@user.country.blank?
          .location= @user.location
      = render 'shared/follow_button', :user => @user
      = render 'users/details'
      -# - if @latest.empty?
        - if current_user && (current_user.id == @user.id)
          .add-a-sit
            %a.btn.btn-lg.btn-primary{:href => new_sit_path}
              %i.fa.fa-plus
              Add your first sit
      -# - elsif @latest
        .latest LATEST
        -# = render 'shared/recent_activity'
      - if controller.action_name == 'main'
        -# = render 'goals/goal_module'
      - else
        %a.full-journal-link{:href => "#{user_path(@user)}"} View full fluency journal →